<ul class="nav nav-tabs">
  <li class="active"><a href="#">Hot</a></li>
  <li><a href="#">New</a></li>
</ul>
<dl>
	<% @posts.each do |post| %>
	  <dt>
	  	<% if post.url %>
	  		<a href="<%= post.url %>"><%= post.title %></a>
	  	<% else %>
	  		<a href="<%= posts_url(post) %>"><%= post.title %></a>
	  	<% end %>
	  </dt>
	  <dd><a href="<%= posts_url(post) %>"><%= post.comments.count %> comments</a></dd>
	<% end %>
</dl>