<ul class="nav nav-tabs">
  <li class="active"><a href="#">Hot</a></li>
  <li><a href="#">New</a></li>
</ul>
<dl class="post-list">
	<% @posts.each do |post| %>
	  <dt>
	  	<% if post.url.length > 0 %>
	  		<a href="<%= post.url %>"><%= post.title %></a>
	  	<% else %>
	  		<a href="<%= post_url(post) %>"><%= post.title %></a>
	  	<% end %>
  	  	<div><a href="<%= post_url(post) %>"><%= post.comments.count %> comments</a></div>
	  </dt>
	  <dd><% karma = 0%>
		  <% post.votes.each do |vote| %>
			 <% karma += 1 if vote.direction == "up"%>
			 <% karma -= 1 if vote.direction == "down"%>
		  <% end %>
		  <form action='<%= votes_url %>' method="post">
			  <input type="hidden" value='<%= post.id%>' name="vote[post_id]">
			  <input type="hidden" value="up" name="vote[direction]">
			  <input type="submit" value="Upvote">
		  </form>
		  <%= karma %>
		  <form action='<%= votes_url %>' method='post'>
			  <input type='hidden' value='<%= post.id %>' name='vote[post_id]'>
			  <input type="hidden" value="down" name='vote[direction]'>
			  <input type="submit" value="Downvote">
		  </form>
	  </dd>
	<% end %>
</dl>